In [12]:
# Import necessary libraries
import pandas as pd
import numpy as np

# Task 1: Create DataFrames and Save as CSV Files

# Employee DataFrame
employee_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'Name': ['John Alter', 'Alice Luxumberg', 'Tom Sabestine', 'Nina Adgra', 'Amy Johny'],
    'Gender': ['M', 'F', 'M', 'F', 'F'],
    'City': ['Paris', 'London', 'Berlin', 'Newyork', 'Madrid'],
    'Age': [25, 27, 29, 31, 30]
}
employee_df = pd.DataFrame(employee_data)
employee_df.to_csv('employee.csv', index=False)

# Seniority Level DataFrame
seniority_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'Designation Level': [2, 2, 3, 2, 3]
}
seniority_df = pd.DataFrame(seniority_data)
seniority_df.to_csv('seniority.csv', index=False)

# Project DataFrame
project_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005', 'A002', 'A005', 'A003', 'A001', 'A003', 'A001', 'A004', 'A004', 'A005'],
    'Project': ['Project 1', 'Project 2', 'Project 3', 'Project 4', 'Project 5', 'Project 6', 'Project 7', 'Project 8', 'Project 9', 'Project 10', 'Project 11', 'Project 12', 'Project 13', 'Project 14'],
    'Cost': [1002000, 2000000, 4500000, 5500000, None, 680000, 400000, 350000, None, 300000, 2000000, 1000000, 3000000, 200000],
    'Status': ['Finished', 'Ongoing', 'Finished', 'Ongoing', 'Finished', 'Failed', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Finished']
}
project_df = pd.DataFrame(project_data)
project_df.to_csv('project.csv', index=False)

In [13]:
# Task 2: Compute Missing Values Using Running Average
project_df = pd.read_csv('project.csv')

# Loop through each row to find missing values and compute running average
for i in range(len(project_df)):
    if pd.isna(project_df.loc[i, 'Cost']):
        running_sum = 0
        count = 0
        for j in range(i):
            if not pd.isna(project_df.loc[j, 'Cost']):
                running_sum += project_df.loc[j, 'Cost']
                count += 1
        if count != 0:
            project_df.loc[i, 'Cost'] = running_sum / count

# Save updated Project DataFrame back to CSV
project_df.to_csv('project.csv', index=False)

In [14]:
# Task 3: Split Name Column into First Name and Last Name
employee_df = pd.read_csv('employee.csv')

# Split the Name column into First Name and Last Name
employee_df[['First Name', 'Last Name']] = employee_df['Name'].str.split(' ', expand=True)

# Drop the old Name column
employee_df.drop(columns=['Name'], inplace=True)

# Save the updated Employee DataFrame back to CSV
employee_df.to_csv('employee.csv', index=False)

In [15]:
# Task 4: Join All Three DataFrames into One Single DataFrame
employee_df = pd.read_csv('employee.csv')
seniority_df = pd.read_csv('seniority.csv')
project_df = pd.read_csv('project.csv')

# Merge the dataframes on 'ID' column
final_df = employee_df.merge(seniority_df, on='ID').merge(project_df, on='ID')

# Save the final merged DataFrame to CSV
final_df.to_csv('final.csv', index=False)

In [16]:
# Task 5: Add a Bonus Column
# Add Bonus column based on 5% of the project cost for finished projects
final_df['Bonus'] = final_df.apply(lambda row: row['Cost'] * 0.05 if row['Status'] == 'Finished' else 0, axis=1)
#print(final_df)
# Save updated Final DataFrame back to CSV
final_df.to_csv('final.csv', index=False)

In [17]:
# Task 6: Demote Designation Level and Remove Ineligible Employees
# Demote designation level by 1 for projects with status 'Failed'
final_df.loc[final_df['Status'] == 'Failed', 'Designation Level'] += 1

# Remove employees with designation level above 4
final_df = final_df[final_df['Designation Level'] <= 4]

# Save updated Final DataFrame back to CSV
final_df.to_csv('final.csv', index=False)

In [18]:
# Task 7: Add Mr./Mrs. to First Name and Drop Gender Column
# Add 'Mr.' or 'Mrs.' prefix based on gender and drop the Gender column
final_df['First Name'] = final_df.apply(lambda row: 'Mr. ' + row['First Name'] if row['Gender'] == 'M' else 'Mrs. ' + row['First Name'], axis=1)
final_df.drop(columns=['Gender'], inplace=True)

# Save updated Final DataFrame back to CSV
final_df.to_csv('final.csv', index=False)

In [19]:
# Task 8: Promote Designation Level for Employees Older than 29
# Promote designation level by 1 for employees older than 29
final_df.loc[final_df['Age'] > 29, 'Designation Level'] -= 1

# Save updated Final DataFrame back to CSV
final_df.to_csv('final.csv', index=False)

In [20]:
# Task 9: Add Total Project Cost for Each Employee
# Calculate the total project cost for each employee
total_proj_cost = final_df.groupby('ID').agg({'First Name': 'first', 'Cost': 'sum'}).reset_index()
total_proj_cost.rename(columns={'Cost': 'Total Cost'}, inplace=True)

# Save Total Project Cost DataFrame to CSV
total_proj_cost.to_csv('total_proj_cost.csv', index=False)

In [21]:
# Task 10: Print Employee Details for Cities Containing 'o'
# Print details of employees whose city names contain the letter 'o'
print(final_df[final_df['City'].str.contains('o', case=False)])

      ID     City  Age  First Name  Last Name  Designation Level     Project  \
3   A002   London   27  Mrs. Alice  Luxumberg                  2   Project 2
4   A002   London   27  Mrs. Alice  Luxumberg                  3   Project 6
8   A004  Newyork   31   Mrs. Nina      Adgra                  1   Project 4
9   A004  Newyork   31   Mrs. Nina      Adgra                  1  Project 12
10  A004  Newyork   31   Mrs. Nina      Adgra                  1  Project 13

         Cost    Status     Bonus
3   2000000.0   Ongoing       0.0
4    680000.0    Failed       0.0
8   5500000.0   Ongoing       0.0
9   1000000.0   Ongoing       0.0
10  3000000.0  Finished  150000.0